[licenses]
allow = [
    "Apache-2.0",
    "MIT",
    "ISC",
    "Unicode-3.0",
    "BSD-2-Clause",
    "BSD-3-Clause",
    "MPL-2.0",
    "Zlib",
]

[[licenses.clarify]]
name = "ring"
expression = "MIT AND ISC AND OpenSSL"
license-files = [
    { path = "COPYRIGHT", hash = 0xbd0eeddb }
]

[bans]
multiple-versions = "warn"
wildcards = "allow"

[sources]
unknown-registry = "warn"
allow-registry = ["https://github.com/rust-lang/crates.io-index"]
